html, body {
  width: 100px;
}

.test {
  margin: 3% auto;
  padding: 4px;
  text-allign: center;
  font-size: 1.5em;
  background-color: #E5F2F2;
  cursor: pointer;
}

.test:hover {
  background-color: #CFF2F2;
}
